DATABASE_URL="mysql://docker:docker@mysql_host:3306/test_database"
DB_HOST=mysql_host
DB_NAME=test_database
DB_PASSWORD=docker
DB_PORT=3306
DB_USER=docker
DISCORD_BOT_TOKEN=hogehoge
DISCORD_CLIENT_ID=11111111
ERROR_WEBHOOK_URL=https://discord.com/api/webhooks/1111111111/xxxxxxxxxxx
OPENROUTER_API_KEY=xxxxxxxxxxxx
STATUS_WEBHOOK_URL=https://discord.com/api/webhooks/1111111111/xxxxxxxxxxx