@use "./_theme";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

* {
  box-sizing: border-box;
}

body {
  background: theme.$background-color;
  color: theme.$text-color;
  display: flex;
  flex-direction: column;
  font-family: theme.$font-family;
  margin: 0;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2rem;
  width: 100vw;
}